@page "/customers"
@using BlazorApp.Components.Modals
@* @rendermode InteractiveAuto *@

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@inject IRepository CustomersService;
@inject NavigationManager NavigationManager

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <ConfirmationModal />

            <div class="card">
                <div class="card-header">
                    <h3>Customers List</h3>
                    
                    <button type="button" class="btn btn-info float-end">
                        <i class="fas fa-plus"></i> Add New Entry
                    </button>
                    
                </div>
                
                <div class="card-body">
                    @if (CustomersList is null)
                    {
                        <p><em>Loading, please wait ... </em></p>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Contact Name</th>
                                        <th>Address</th>
                                        <th>City</th>
                                        <th>Region</th>
                                        <th>Postal Code</th>
                                        <th>Country</th>
                                        <th>Phone No.</th>
                                        <th>#Ops</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var customer in CustomersList)
                                    {
                                        <tr>
                                            <td>@customer.CompanyName</td>
                                            <td>@customer.ContactName</td>
                                            <td>@customer.Address</td>
                                            <td>@customer.City</td>
                                            <td>@customer.Region</td>
                                            <td>@customer.PostalCode</td>
                                            <td>@customer.Country</td>
                                            <td>@customer.Phone</td>
                                            <td>
                                                <div class="hstack gap-1">
                                                    <button class="btn btn-warning"><i class="fas fa-edit"></i></button>
                                                    <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <p><strong>Total Entries:</strong> @CustomersList.Count.ToString("N0") </p>
                                </tfoot>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


